<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="place post">
    <div class="item-div">
      <img src={{pantry.image}} class="place-image">
    </div>
    <div class="row">
      <!-- <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2"> -->
      <div class="text-center col-xs-8 col-xs-offset-2">
        <h4>{{pantry.name}}</h4>
        <p>{{pantry.description}}</p>
        <!-- <button class='btn btn-xs'{{action 'delete' pantry}}>Delete</button> -->
      </div>
    </div>
  </div>
</div>
