<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="place post">
    <div class="img-div">
      <img src={{place.image}} class="place-image">
    </div>
    <div class="row">
      <div class="text-center col-xs-8 col-xs-offset-2">
        <h5 class="place-name">{{place.name}}</h5>
      </div>
    </div>
  </div>
</div>
