{{#link-to 'post' post.id}}

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="post">
      <div class="img-div">
        <img src={{post.image}} class="post-image">
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <h5 class="post-title">{{post.title}}</h5>
        </div>
      </div>
    </div>
  </div>

{{/link-to}}
