/*#logo {
  height: 35px;
  margin: 5px;
}*/

/*#nav-spacer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}*/
/*
.brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}*/

body {
  /*background-color: rgba(255, 181, 95, .5);*/
  background-image: url("/assets/images/seamless-argyle.gif");
  /*background-size: cover;*/
}

/*body::after {
  content: "";
  background: url("/assets/images/argyle.jpg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/

.jumbotron p {
  font-family: Tahoma;
  font-size: 1.75em;
  color: black;
}

.jumbotron {
  background-image: url("/assets/images/blue.jpg");
  /*background-position: 45% 0%;*/
  background-size: cover;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  color: brown;
  z-index: 0;
  position: relative;
  /*font-family: 'Calligraffitti', cursive;*/
  /*font-family: 'Berkshire Swash', cursive;*/
  font-family: 'Just Me Again Down Here', cursive, serif;
  /*font-family: 'Condiment', cursive;*/
  /*font-family: 'Patrick Hand SC', cursive;*/
}

.jumbotron h1 {
  font-size: 6.5em;
  text-shadow: 1px 1px #fff;
}

h5 {
  font-family: 'Just Me Again Down Here', cursive, serif;
  font-size: 2.5em;
  padding-bottom: 5%;
}

/*.jumbotron-overlay {
  background-color: #fff;
  z-index: 1000;
  position: relative;
}*/

div.img-div{
    height:250px;
    width:250px;
    overflow:hidden;
    border-radius:50%;
    margin: auto;
}

div.item-div{
    height: 175px;
    width: 175px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:125px;
    height: 100%;
    width: auto;
}

.post-container {
  margin-top: 50px;
  height: 100%;
}

.post {
  margin-bottom: 50px;
}

.post-image, .pantry-image {
  margin-left: auto;
  margin-right: auto;
}

.post-title {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  text-align: center;
  /*margin-top: 2em;*/
}

#nav-icon-list {
  position: fixed;
  bottom: 0;
  left: 0;
}

.nav-icon {
  height: 25px;
}

.map-display {
  height: 400px;
  width: 400px;
}

ul {
  list-style-type: none;
}

.pantry-image {
  width: 150px;
  height: 150px;
}

/*.pantry-container {
  margin: 50px;
  /*padding: 10px;*/
  /*text-align: center;*/
/*}*/

.party-container {
  margin-top: 2%;
}

button.party.btn {
  margin-top: 2%;
}

.form-control {
  width: 450px;
  margin: auto;
  align: center;
}

button {
  align: center;
}

div.transbox {
  margin: 50px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 25px;
  opacity:0.8;
  text-align: center;
}

footer li {
  display: inline-block;
}
