<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="brand">
      {{#link-to 'index'}}
        <img src="/assets/images/logo.png" alt="logo" id="logo"/>
      {{/link-to}}
    </div>
  </div>
</nav>

{{outlet}}

<div style="height:1500px;">

</div>

<nav class="navbar-inverse navbar-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav pull-right">
      <li>
        {{#link-to 'about'}}ABOUT{{/link-to}}
      </li>
      <li>
        {{#link-to 'contact'}}CONTACT{{/link-to}}
      </li>
    </ul>
  </div>
</nav>
