<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="brand">
      {{#link-to 'index'}}
        <img src="/assets/images/logo.png" alt="logo" id="logo"/>
      {{/link-to}}
    </div>
  </div>
</nav> -->

<div id="nav-spacer"></div>

{{outlet}}

<ul class="nav nav-stacked" id="nav-icon-list">
  <li>
    {{#link-to 'index'}}
      <img src="/assets/images/logo.png" alt="logo" class="nav-icon"/>
    {{/link-to}}
  </li><li>
    {{#link-to 'about'}}
      <img src="/assets/images/logo.png" alt="logo" class="nav-icon"/>
    {{/link-to}}
  </li><li>
    {{#link-to 'contact'}}
      <img src="/assets/images/logo.png" alt="logo" class="nav-icon"/>
    {{/link-to}}
  </li><li>
    {{#link-to 'contact'}}
      <img src="/assets/images/logo.png" alt="logo" class="nav-icon"/>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'admin'}}
      <img src="/assets/images/logo.png" alt="logo" class="nav-icon"/>
    {{/link-to}}
  </li>
</ul>
<!--
<li>
  {{#link-to 'about'}}ABOUT{{/link-to}}
</li>
<li>
  {{#link-to 'contact'}}CONTACT{{/link-to}}
</li>
<li>
  {{#link-to 'admin'}}ADMIN{{/link-to}}
</li> -->
