<div class="jumbotron-overlay">
  <div class="jumbotron text-center">
    <h1>Pumpkin Hub</h1>
    <p>
      Fascinating fall fun!
    </p>
  </div>
</div>

<div class="container post-container">
  <!-- {{#each model as |post|}}
    {{#link-to 'post' post.id}}
      {{post-tile post=post}}
    {{/link-to}}
  {{/each}} -->

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="post">
      <div class="img-div">
        {{#link-to 'places'}}<img src='http://www.celebrating-halloween.com/wp-content/uploads/2013/05/pumpkin-bats.jpg' class='post-image pantry-image'>{{/link-to}}
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h5 class="post-title">Places</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="post">
      <div class="img-div">
        {{#link-to 'pantry'}}<img src='http://www.churchofhalloween.com/wp-content/gallery/pumpkin-ale/punk-n-harvest-pumpkin-ale.png' class="post-image pantry-image">{{/link-to}}
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h5 class="post-title">Pantry</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="post">
      <div class="img-div">
        {{#link-to 'party'}}<img src='http://www.snowbird.com/static/media/slideshow_photos/OktoberfestGirls_2015_C_normal.jpg' class='post-image pantry-image'>{{/link-to}}
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h5 class="post-title">Parties</h5>
        </div>
      </div>
    </div>
  </div>

</div>
