<div class='pantry-container'>
  <ul>
  {{#each model as |pantry|}}
    <li>{{pantry-tile pantry=pantry destroyPantry="destroyPantry"}}</li>
  {{/each}}
</ul>


{{new-pantry savePantry='savePantry'}}
</div>
